body {
    overflow-x: hidden;
}

.banner-img {
    width: 100vw;
    height: 85vh;
    background: url('../image/blog-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 5em;
    color: #221c1c;
}

/* Mobile device: breakpoint: sm */
@media only screen and (max-width: 768px) {
    .banner-img {
        height: 20vh;
    }

    h2 {
        margin-top: 30px;
        font-size: 2em;
    }
}