body {
    overflow-x: hidden;
}

.banner-img {
    width: 100vw;
    height: 80vh;
    background: url('blog-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-img h2 {
    font-size: 5em;
    color: white;
}

/* Mobile device: breakpoint: sm */
@media only screen and (max-width: 768px) {
    .banner-img {
        height: 20vh;
    }

    .banner-img h2 {
        font-size: 2em;
    }
}